/AppUser/migrations/0003_appuser_avatar.py
/AppUser/migrations/0004_alter_appuser_avatar.py
/AppUser/migrations/0005_alter_appuser_avatar.py
/media/avatars/user_CDTUo3r.png
/media/avatars/user_pjtxFPG.png
