
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserPage</title>
    <link rel="stylesheet" href="styles/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <nav>
        <h1>Welcome, Nazwa Uzytkownika</h1>
        <ul class="tabs">
            <li class="tab active">
                <a data-switcher data-tab="1">Ogólne</a>
            </li>
            <li class="tab">
                <a data-switcher data-tab="2">Powiadomienia</a>
            </li>
            <li class="tab">
                <a data-switcher data-tab="3">Zespoły</a>
            </li>
        </ul>
    </nav>
</header>

<screen>
    <section class="pages">
        <div class="page">
            <div class="user-column1">
                <a onclick="changeTabs(0)" class="oglist">
                    <i class="fa fa-user"></i>
                </a>
                <a onclick="changeTabs(1)" class="oglist">
                    <i class="fa fa-key"></i>
                </a>
                <a onclick="changeTabs(2)" class="oglist">
                    <i class="fa fa-credit-card"></i>
                </a>
                <a onclick="changeTabs(3)" class="oglist">
                    <i class="fa fa-tasks"></i>
                </a>
                <a onclick="changeTabs(4)" class="oglist">
                    <i class="fa fa-cog"></i>
                </a>
            </div>
            <div class="user-column2">
                <div class="nonEditableSection">
                <img src="images/user.png"/>
                </div>
                <div class="editableSection">
                <div class="general tabShow">
                    <h1><i class="fa fa-user"></i> Edycja danych osobowych:</h1>
                    <h2>Imię</h2><input type="text" class="input" value="Null">
                    <h2>Nazwisko</h2><input type="text" class="input" value="Null">
                    <h2>Email</h2><input type="text" class="input" value="Null">
                    <h2>Password</h2><input type="password" class="input" value="Null">
                    <button class="btn">Save</button>
                </div>
                <div class="password tabShow">
                    <h1><i class="fa fa-credit-card"></i> Zmiana hasła:</h1>
                </div>
                <div class="payment tabShow">
                    <h1><i class="fa fa-credit-card"></i> Edycja ustawień płatności:</h1>
                </div>
                <div class="tasks tabShow">
                    <h1><i class="fa fa-tasks"></i> Lista Zadań:</h1>
                </div>
                <div class="tasks tabShow">
                    <h1><i class="fa fa-cog"></i> Ustawienia Ogólne:</h1>
                </div>
                    </div>
            </div>
        </div>
    </section>
</screen>







    <form method="POST">{% csrf_token %}
        {{form2.as_p}}
        <button type="submit" name="change_last_name">Submit</button>
    </form>

    <form method="POST">{% csrf_token %}
        {{form3.as_p}}
        <button type="submit" name="change_email">Submit</button>
    </form>






<script src="js/functions.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>

</script>
</body>
</html>