{%extends 'base.html'%}

{%block navbar%}
{%include "navbar.html" %}
{%endblock%}

{%block content%}
<link rel="stylesheet" href="/static/styles/teams.css">

<div class="all_page">
    <div class="col1">
        <div class="t_name">
            <h2>{{object.name}}</h2>
            <h3>{{object.description}}</h3>
        </div>
        <div class="t_members">
            {% for user in object.members.all%}
                <p class="m_name">      <!-- Tu moze byc petla w js -->
                    <a href="{{user.get_absolute_url}}">{{user.get_full_name}}</a>
                </p>
            {%endfor%}
        </div>

    </div>
    <div class="space"></div>
    <div class="col2">
        <div class="c2_content">
            <div class="f_block">
                <p class="f_name">
                    CSSiarz
                </p>
            </div>
            <br><br>
            <div class="d_block">
                <p class="f_desc">
                    CSSuje ile wlezie
                </p>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>



{%endblock%}