<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserPage</title>
    {% load static %}
    <link rel="stylesheet" href="/static/styles/style.css"> <! -- glowny css-->
    <link rel="stylesheet" href="/static/styles/footer.css"> <! -- stopka-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge"> <meta name="viewport" content="width-device-width, initial-scale-1.0">

<!-- Latest compiled and minified JavaScript -->







</head>
<body>
<header>
    <nav>

        {%if request.user.is_authenticated%}
            <h1>Welcome, {{request.user.first_name}} {{request.user.last_name}}</h1>
        {% else %}
            <h1>Hello, Guest </h1>
        {% endif %}
        <ul class="tabs">
            <li class="tab">
                {% if request.user.is_authenticated %}
                <a data-switcher data-tab="1">Wyloguj</a>
                {% else %}
                <a data-switcher data-tab="1">Zaloguj</a>
                {% endif %}
            </li>
            <li class="tab ">
                <a data-switcher data-tab="2">Ogólne</a>
            </li>
            <li class="tab">
                <a data-switcher data-tab="3">Powiadomienia</a>
            </li>
            <li class="tab">
                <a data-switcher data-tab="4">Zespoły</a>
            </li>
        </ul>
 <!--           <li class="search-icon">
            <form method="GET"  action="{% url 'appuser:search-view'%}">
                <input type="search" placeholder="Search"  name="query"  value="{{request.GET.query}}">
                <button class="icon" type="submit">
                    <span class="fas fa-search"></span>
                </button>
            </form>
            </li>   -->
        <div class="w-100 text center">
             <form autocomplete="off" id="search-form-team" method="post">
                 {% csrf_token %}
                 <input type="text" id="search-input-team" class="p-3 w-50 search mt-4" placeholder="Team Search">
             </form>
             <!-- results card -->
             <div id="result-box-team" class="result-card-team not-visible">

             </div>
         </div>

             <!-- JS -->
        <script>
        const sendSearchDataTeam = (series) => {

        $.ajax({
            type: 'POST',
            url: '{% url "team:search" %}',
            data :
            {
                'csrfmiddlewaretoken':csrf2,
                'series':series,
            },
            success: (res) => {
                const data = res.data
                result_box_team.innerHTML += "";
                if(Array.isArray(data)){
                    result_box_team.innerHTML = "";
                    data.forEach(series => {
                        result_box_team.innerHTML += `
                                <a href="/team/${series.pk}" class="link">

                                        <div class="col-10">
                                            <h3>${series.name}</h3>
                                            <h5>${series.description}</h5>
                                        </div>

                                </a>`
                    });
                }else
                    {
                    if(search_input_team.value.lenght > 0){
                        result_box_team.innerHTML = `<b>${data}</b>`
                    }
                    else{
                    result_box_team.classList.add('not-visible')
                    }
                }
            },
            error: (err) => {
                console.log(err);
            }
        })
    }


    const search_form_team = document.getElementById('search-form-team')

    const search_input_team = document.getElementById('search-input-team')

    const result_box_team = document.getElementById('result-box-team')

    const csrf2 = document.getElementsByName('csrfmiddlewaretoken')[0].value

    search_input_team.addEventListener('keyup', e=>{
        console.log(e.target.value);


        if(result_box_team.classList.contains('not-visible')){
            result_box_team.classList.remove('not-visible')
        }

        sendSearchDataTeam(e.target.value);
    });

        </script>











    </nav>
</header>

<screen>
    <section class="pages">
        {%block content%}
            replace me
        {%endblock%}
    </section>
</screen>






<footer>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</body>

</html>
